.footer {
    height: 80px;
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -1px;

    img {
        object-fit: none;
    }

    &-social {
        &-media {
            width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
