.banner {
    &-middle {
        background: linear-gradient(to right, $c-white 50%, $c-grey-one 50%);

        &-image {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
            padding: 30px 0px;
        }

        &-container {
            h1 {
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 40px;
                text-transform: uppercase;
            }
        }
    }

    &-desc {
        margin-top: 40px;
    }
}

@media screen and (max-width: 991px) {
    .banner-middle-image {
        img {
            max-width: 700px;
            height: auto;
            width: 100%;
        }
    }
}
