.solution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;

    &-title {
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;

        span {
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            color: $c-green;
        }
    }

    &-list {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .card-jussi {
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .solution {
        padding: 30px 0px;

        &-title {
            text-align: center !important;
            padding: 10px 0px !important;
        }

        &-list {
            display: contents;

            .card-jussi {
                width: 100%;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                margin: 15px 0px 15px 0px;
            }
        }
    }
}
